body {
    /*reset*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* padrronização de cores e fonte*/
    font-family: 'Roboto', sans-serif;
    background-color: #1b1c30;
    color: #fff;
}

.caixa img {
    width: 180px;
}

.textbox img {
    width: 180px;
}

/*centralização dos itens e textos*/
#login {
    text-align: center;
    justify-content: center;
    align-items: center;

}

#cadastro {
    text-align: center;
    justify-content: center;
    align-items: center;

}

.email input, 
.senha input,
.name input,
.confirma input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 35px;
    padding-left: 15px;
    background-color: #292a38;
    color: #96979e;
}

.senha input,
.confirma input {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: aquamarine;

}

.entrar input {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: #77c97c;
    color: #1b1c30;
}